<%#= render 'search' %>

<h2>Browse Accounts</h2>
<%= paginate @accounts %>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :account) %></th>
      <th><%= sort_link(@q, :balance) %></th>
      <th><%= sort_link(@q, :is_eligable) %></th>
      <th><%= sort_link(@q, :is_registered) %></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.account %> </td>
        <td><%= account.balance %> </td>
        <td><%= account.is_eligable %> </td>
        <td><%= account.is_registered %></td>
        <td><%#= link_to 'Show', project %> 

          <% if account.is_registered == false  %>
            <%= link_to 'Register Account', accounts_path %>
          <% end %>

           <%#= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @accounts %>