<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "EOS Foundation Community Projects" %></title>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%# Rails flash messages styled for Zurb Foundation %>
  <% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
    <%= content_tag :div, msg %>
    <a href="#" class="close">&times;</a>
  </div>
  <% end %>
  <% end %>

  <div class="top-bar" style="background-color: white" >
    <div class="top-bar-left" >
      <ul class="dropdown menu" data-dropdown-menu style="background-color: white" >
        <li></li>
      </ul>
    </div>
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <%= link_to('Projects', projects_path, class: "button") %> 
        </li>
        <li>
          <%= link_to('Accounts', accounts_path, class: "button") %> 
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "button") %> 
        </li>
        <% else %>
        <li>
          <%= link_to('Login', new_user_session_path) %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div style="padding: 20px;">
    <h1>EOS Foundation</h1>
    <h2>Value Receipt Model & Distribution</h2>
    <div class="column row" id="content">
      <%= yield %>
    </div>
  </div>
  <footer class="social-footer">
    <div class="social-footer-left">
      <a href="#"><img class="logo" src=""></a>
    </div>
    <div class="social-footer-icons">
      <ul class="menu simple">
        <li><a href="https://github.com/eoscostarica/eos-foundation" target="_blank" style="color: white">Contribute to this project on GitHub. <i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </footer>



</body>
</html>
