<%= search_form_for @q do |f| %>

	<div class="callout secondary">
		<h2>Search Projects</h2>
		<div class="grid-x grid-padding-x">
			<div class="medium-2 cell">
				<%= f.label "Project Name" %>
				<%= f.search_field :name_cont %>
			</div>
			<div class="medium-3 cell">
				<%= f.label "Find by Category" %>
				<%= f.select :category_id_eq, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), include_blank: true %>
			</div>
			<div class="medium-3 cell">
				<%= f.label "Find by Status" %>
				<%= f.select :status_eq, Project::STATUS, include_blank: true %>
			</div>
			<div class="medium-2 cell">
				<%= f.label "Find by Account" %>
				<%= f.search_field :eos_accounts_cont %>
			</div>
			<div class="medium-2 cell">
				<br/>
				<%= f.submit class: 'button' %>
			</div>
		</div>
		<p><br>
			Cant find your project?  
			<%= link_to 'Register New Project', new_project_path %>
			<br>
		</p>
	</div>
<% end %>