
<h4>Recognizing those who got us here with the foundation token.</h4>
<p>The EOS Foundation will recognize the talented individuals that contributed in so many ways to making the EOS blockchain what it is today. Via a non-transferable governance token, the Foundation will empower members to source and distribute resources for the enhancement of the EOS blockchain and ecosystem.</p>

<p>
  The (interim) EOS Foundation Steering Committee has been compiling an extensive list of individuals and organizations to recognize, and is asking the community for further nominations. Be sure to <%= link_to 'submit your potential honorees, including yourself', new_project_path %>.
</p>
<%= render 'search' %>

<h2>Browse Projects</h2>
<%= paginate @projects %>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name) %></th>
      <th>Description</th>
      <th><%= sort_link(@q, :category_id) %></th>
      <th>URL</th>
      <th>EOS Accounts</th>
      <th><%= sort_link(@q, :status) %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %> </td>
        <td><%= project.description %> </td>
        <td><%= project.category_id %> </td>
        <td><%= link_to project.url, project.url, target: :_blank %></td>
        <td><%= project.eos_accounts %> </td>
        <td><%= project.status %> </td>
        <td><%#= link_to 'Show', project %> 

          <% if project.status == 'Candidate'  %>
            <%= link_to 'Edit', edit_project_path(project) %>
          <% end %>

           <%#= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @projects %>
